* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* head */

.head__top {
    background-color: #000;
    color: #969696;
    font-size: 12px;
    line-height: 16px;
}

.head__top .container > div {
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
}

.head__top .container > div > div {
    display: flex;
    align-items: center;
}

.head__bottom {
    background-color: #0F0F0F;
    color: #969696;;
}

.head__bottom .container {
    display: flex;
    justify-content: space-between;
}

.head__logo {
    font-family: 'Post No Bills Jaffna', sans-serif !important;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    padding: 15px 0px;
}

.head__links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

.head__link {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.head__link:not(:nth-child(4)):not(:nth-child(5)) {
    height: 100%;
    transition: 0.3s;
}

.head__link:nth-child(3) {
    margin-right: 20px;
}

.head__link:last-child {
    padding-right: 0;
}

.head__link {
    cursor: pointer;
}

.head__link:not(:nth-child(4)):not(:nth-child(5)):hover {
    background-color: #1F1F1F;
    color: #fff;
}

.icon-phone {
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

.icon-login {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

/* main */

.main {
    height: 810px;
    background-image: url(/images/main/background.jpg);
    color: #fff;
    display: flex;
    justify-content: center;
}

.main__content {
    flex: 0 1 730px;  
    padding: 160px 0px 154px 0px;  
    display: flex;
    flex-direction: column;
}

.main__label {
    padding: 94px 68px;
    border: 4px solid #fff;
    align-self: center;
}

.main__logo {
    font-family: 'Post No Bills Jaffna', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

.main__city {
    padding-top: 7px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.main__text {
    margin-top: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}

.container {
    padding: 0px 405px;
}