* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* head */

.head__top {
    background-color: #000;
    color: #969696;
    font-size: 12px;
    line-height: 16px;
}

.icon-phone {
    margin-right: 15px;
    width: 16px;
    height: 16px;
}

@media (max-width: 768px) {
    .icon-phone {
        margin-right: 10px;
        width: 14px;
        height: 14px;
    }
}

.icon-login {
    margin-right: 10px;
    width: 14px;
    height: 14px;
}

.head__top .container > div {
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .head__top .container > div {
        flex-direction: column;
        row-gap: 20px;
    }
}

.head__number:after {
    content: "|";
    margin: 0px 12px;
}

.head__schedule-week:after {
    content: "|";
    margin: 0px 12px;
}

@media (max-width: 480px) {
    .head__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .head__number:after {
        content: unset;
        margin: unset;
    }
    
    .head__schedule-week:after {
        content: unset;
        margin: unset;
    }
}

.head__top .container > div > div {
    display: flex;
    align-items: center;
}

.head__bottom {
    background-color: #0F0F0F;
    color: #969696;;
}

.head__bottom .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .head__bottom .container {
        flex-direction: column;
    }
}

.head__logo {
    font-family: 'Post No Bills Jaffna', sans-serif !important;
    color: #fff;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    padding: 15px 0px;
}

@media (max-width: 768px) {
    .head__logo {
        padding-bottom: 0px;
    }
}

.head__links {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 14px;
}

@media (max-width: 768px) { 
    .head__links {
        flex-direction: column;
        align-items: baseline;
        row-gap: 15px;
        margin-bottom: 15px;
    }
}

.head__link {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) { 
    .head__link {
        padding: 0px 0px;
    }
}

.head__link:not(:nth-child(4)):not(:nth-child(5)) {
    height: 100%;
    transition: 0.3s;
}

.head__link:nth-child(3) {
    margin-right: 20px;
}

.head__link:last-child {
    padding-right: 0;
}

.head__link {
    cursor: pointer;
}

.head__link:not(:nth-child(4)):not(:nth-child(5)):hover {
    background-color: #1F1F1F;
    color: #fff;
}

@media (max-width: 768px) { 
    .head__link:not(:nth-child(4)):not(:nth-child(5)):hover {
        background-color: unset;
        color: unset;
    }
}

/* main */

.main {
    height: 100%;
}

.main__image {
    background-image: url(/images/main/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
}

.main__content {
    flex: 0 1 730px;  
    padding: 160px 0px 154px 0px;  
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .main__content {
        padding: 80px 0px;  
    }
}

.main__label {
    padding: 94px 68px;
    border: 4px solid #fff;
    align-self: center;
}

@media (max-width: 480px) {
    .main__label {
        padding: 23px 17px;
        border: 2px solid #fff;
    }
}

.main__logo {
    font-family: 'Post No Bills Jaffna', sans-serif !important;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    text-align: center;
    border-bottom: 2px solid #fff;
}

@media (max-width: 480px) {
    .main__logo {
        font-size: 32px;
        line-height: 38px;
        border-bottom: 1px solid #fff;
    }
}

.main__city {
    padding-top: 7px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

@media (max-width: 480px) {
    .main__city {
        font-size: 11px;
        line-height: 20px;
    }
}

.main__text {
    margin-top: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) { 
    .main__text {
        padding: 0px 20px;
        margin-top: 40px;
        font-size: 14px;
        line-height: 130%;
    }
}

@media (max-width: 480px) { 
    .main__text {
        font-size: 12px;
        text-align: justify;
    }
}

/* season */

.season {
    display: flex;
}

@media (max-width: 1200px) {
    .season {
        flex-direction: column;
    }
}

.season__left-side {
    background-color: #000;
    color: #fff;
    padding: 93px 80px;
    font-family: "Playfair Display";
}

@media (max-width: 480px) {
    .season__left-side {
        padding: 46px 0px;
    }
}

.season__watches img{
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) { 
    .season__watches img {
        width: unset;
        height: unset;
    }
}

.season__header .border-bottom {
    margin-top: 41px;
    margin-bottom: 50px;
}

.season__watches {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

@media (max-width: 768px) { 
    .season__watches {
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        row-gap: 25px;
    }
}

.season__right-side {
    background-image: url(/images/season/image.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    height: inherit;
    width: 880px;
    display: flex;
    align-items: end;
    justify-content: center;
    color: #fff;
}

@media (max-width: 1200px) {
    .season__right-side {
        height: 730px;
        width: 100%;
    }
}

.season__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.season__new-collection .border-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* collection */

.collection {
    display: flex;
}

@media (max-width: 1200px) {
    .collection {
        flex-direction: column;
    }
}

.collection__left-side {
    background-image: url(/images/collection/image.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%;
    height: inherit;
    width: 45.833%;
}

@media (max-width: 1200px) {
    .collection__left-side {
        display: none;
    }
}

.collection__right-side {
    color: #fff;
    background-color: #000;
    width: 54.167%;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    align-items: center;
}

@media (max-width: 1200px) {
    .collection__right-side {
        width: 100%;
        padding-bottom: 0px;
    }
}

.collection__header .border-bottom {
    margin-top: 31px;
    margin-bottom: 40px;
}

.collection__text {
    max-width: 471px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 41px;
}

@media (max-width: 768px) { 
    .collection__text {
        padding: 0px 20px;
    }
}

@media (max-width: 480px) {
    .collection__text {
        text-align: justify;
    }
}

/* receipt */

.receipt {
    background-color: #000; 
    color: #fff;
}

.receipt .container {
    padding-top: 120px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .receipt .container {
        padding-top: 60px;
        padding-bottom: 75px;
    }
}

.receipt__header .border-bottom {
    margin-top: 40px;
    margin-bottom: 41px;
}

.receipt__watches {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 22px;
}

.receipt__watches .watch{
    margin-top: 40px;
    padding: 0px 0px 0px 0px; 
    
}

/* brands */

.brands {
    background-color: #0F0F0F;
    color: #fff;
    padding-top: 60px;
    padding-bottom: 74px;
}

.brands .container {
    display: flex;
    flex-direction: column;
}

.brands__header .border-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.brands__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.brands__item {
    padding: 7.5px 7.5px;
}


/* about */

.about {
    background-image: url(/images/about/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
}

@media (max-width: 1200px) {
    .about {
        height: 100%;

    }
}

.about .container {
    color: #fff;
    display: flex;
    padding-top: 80px;
    padding-bottom: 99px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

@media (max-width: 1200px) {
    .about .container {
        flex-direction: column;
    }
}

.about__column {
    flex: 0 1 33.333%;
}

@media (max-width: 1200px) {
    .about__column:not(:last-child) {
        margin-bottom: 40px;
    }
}

.about__column:not(:nth-child(3)) {
    margin-right: 30px;
}

@media (max-width: 1200px) {
    .about__column:not(:nth-child(3)) {
        margin-right: unset;
    }
}

.about__column .title {
    text-align: start;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 40px;
}

@media (max-width: 480px) { 
    .about__column .title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about__text {
        text-align: justify;
    }
}

.about__goods {
    display: flex;
    flex-wrap: wrap;
}

.about__good {
    background-color: #0F0F0F;
    color: #D0D0D0;
    padding: 10px 20px;
    align-self: baseline;
    margin: 0px 20px 20px 0px;
    cursor: pointer;
    transition: 0.3s;
}

.about__good:hover {
    background-color: #0f0f0fcb;
}

.about__subscrive-form {
    margin-top: 37px;
}

.about__subscrive-form form {
    display: flex;
}

@media (max-width: 480px) { 
    .about__subscrive-form form {
        flex-direction: column;
    }
}

.about__subscrive-form input[type=text] {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    padding: 11px 15px;
    color: #969696;
    outline: none;
}

.about__subscrive-form input[type=text]::-webkit-input-placeholder {
    color: #969696;
}

.about__subscrive-form input[type=submit] {
    background-color: #0F0F0F;
    color: #fff;
    border: none;
    padding: 11px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.about__subscrive-form input[type=submit]:hover {
    background-color: #0f0f0fcb;
}

/* foot */

.foot {
    color: #D0D0D0;
    background-color: #0F0F0F;
}

.foot__text {
    padding: 17px 0px;
}

/* blocks */

.watch {
    color: #fff;
    font-family: "Playfair Display";
}

.watch__image {
    padding: 56px 23px;
    background-color: #191B1C;
}

.watch__name {
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.watch__price {
    color: #D0D0D0;
    margin-top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
}

.title {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 480px) {
    .title {
        font-size: 28px;
        line-height: 32px;
    }
}

.border-bottom {
    width: 120px;
    height: 1px;
    background-color: #fff;
    margin: 0 auto;
}

.button {
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 28px;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

@media (max-width: 480px) {
    .button {
        padding: 6px 14px;
        font-size: 14px;
        line-height: 18px;
    }
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.103);
}

.container {
    max-width: 1110px;
    margin: 0px auto;
}

@media (max-width: 1200px) {
    .container {
        padding: 0px 20px;
    }
}